<h2 align= "center">Welcome to the Maintenance Home Page</h2>

<div class ="row">
  <div class = "ml -2">
      <img class=".img-responsive"  src="https://images.pexels.com/photos/1029243/pexels-photo-1029243.jpeg?auto=compress&cs=tinysrgb&h=350">
  </div>
  <div class = "col-md-5 col-md-offset+4">  
      <img class=".img-responsive" src="https://images.pexels.com/photos/1435183/pexels-photo-1435183.jpeg?auto=compress&cs=tinysrgb&h=350">
  </div>

</div>
<div style= "text-align:center">
 
  <div class= "row justify-content-center">
      <label for="maintix"> To View All Open Maintenance Tickets</label>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)= "mainTix()" name ="maintix">Click To View Maintenance Tickets</button>
  </div>
