<h2 align= "center">Welcome to the Tenant Home Page</h2>

<div class ="row">
  <div class = "ml -2">
      <img class=".img-responsive"  src="https://images.pexels.com/photos/280232/pexels-photo-280232.jpeg?auto=compress&cs=tinysrgb&h=350">
  </div>
  <div class = "col-md-5 col-md-offset+4">  
      <img class=".img-responsive" src="https://images.pexels.com/photos/276700/pexels-photo-276700.jpeg?auto=compress&cs=tinysrgb&h=350">
  </div>

</div>
<div style= "text-align:center">
 
  <div class= "row justify-content-center">
      <label for= "payments">To Pay Your Rent</label>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)= "payRent()" name ="payments">Click To Pay Rent</button>
  </div>
  <div class= "row justify-content-center">
      <label for="maintix"> To Request Maintenance</label>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)= "maintenanceTix()" name ="maintix">Click To Submit A Maintenance Ticket</button>
  </div>
  