<h2 align= "center">Welcome to the Manager Home Page</h2>
<img class=".img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqZqMapxoqW_igQe846JcZqi3VkO1vk4fZZEpDnkocbsaFK3gegw">
<div style= "text-align:center">
 
  <div class= "row justify-content-center">
      <label for= "rentals">To View the Occupancy of the Complex</label>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)= "tenantList()" name ="rentals">Click For Tenancy</button>
  </div>
  <div class= "row justify-content-center">
      <label for="maintix"> To View Maintenence Tickets</label>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)= "maintenanceTix()" name ="maintix">Click For Maintenance Tickets</button>
  </div>
  <div class= "row justify-content-center">
        <label for="payments"> To View Payment History</label>
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)= "paymentHistory()" name ="payments">Click For Payment History</button>
    </div>




</div>
